.wrapperForQuestion{
  display: none;
}

.inserQuestion{
  width: 50%;
  height: 50%;
}
body{
  background-color: #f1f1f0;
}
.card{
  background-color: white;
  padding: 5%;
  border-radius: 10px;
  margin: auto;
  //border: dashed 1px #aaa;
  margin-bottom: 50px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
  transition:	all	600ms ease-out;
}

.card:hover{
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition:	all	600ms ease-out;
}

.card a, button{
  width: 90%;
  display: block;
  margin: auto;
}

.container{
  margin-top: 50px;
}

.card img {
  width: 300px;
  height: 300px;
  display: block;
  margin: auto;
  border-radius: 10px;
}
.row{
  margin: auto;
}